{{> menu}}

<section class="interface w-100  h-100 " style="margin-left: 300px; position:relative">
    {{> navigation}}




<h1 class="px-2" style="font-weight: 700;margin-top:10%">{{content}}</h1>
{{!-- list of assignment --}}
<div class="d-flex justify-content-between align-content-center">
    

    <div class="bg-dark text-light d-flex p-2 m-2" style="width: 220px; height:110px; justify-content: center; align-items:center;">
        <div style="justify-content: center; align-items:center"><img src="" alt="first"></div>
        <div class="text-center">
            <div>8267</div>
            <div>New Users</div>    
        </div>
    </div>
    <div class="bg-dark text-light d-flex p-2 m-2" style="width: 220px; height:110px; justify-content: center; align-items:center;">
        <div style="justify-content: center; align-items:center"><img src="" alt="first"></div>
        <div class="text-center">
            <div>8267</div>
            <div>New Users</div>    
        </div>
    </div>
    <div class="bg-dark text-light d-flex p-2 m-2" style="width: 220px; height:110px; justify-content: center; align-items:center;">
        <div style="justify-content: center; align-items:center"><img src="" alt="first"></div>
        <div class="text-center">
            <div>8267</div>
            <div>New Users</div>    
        </div>
    </div>
    <div class="bg-dark text-light d-flex p-2 m-2" style="width: 220px; height:110px; justify-content: center; align-items:center;">
        <div style="justify-content: center; align-items:center"><img src="" alt="first"></div>
        <div class="text-center">
            <div>8267</div>
            <div>New Users</div>    
        </div>
    </div>


</div>

{{!-- list of tables --}}
<div class="m-3 ">
   
   <table width="100%" style="border-collapse: collapse;">
        <thead>
            <tr style="font-weight: 700;font-size:20px">
                <td>FULLNAME</td>
                <td>MATRICULATION</td>
                <td>LEVEL</td>
                <td>PROGRAM</td>
                <td>FILE</td>
                <td>DELETE</td>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
                        <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.matriculation}}</td>
                <td>{{this.level}}</td>
                <td>{{this.morneven}}</td>
                <td>{{this.name}}</td>
               <td>
                   <form action="/admin/delete" method="POST">
                   <button name="matriculation" value={{this.matriculation}}  type="submit">delete</button>
                   </form>
                   
                   </td>
            </tr>


            {{/each}}
           
        </tbody>
    </table>

</div>

</section>