
    <!-- show case -->
    
    <section class=" mt-1 px-0">
      {{#each photo}}
  <img src="../{{this.name}}" class="imagestyle" width="100%"  height="400px" alt="showcasepage">
{{/each}}
        <div class="w-100 h-100 family" style="position: absolute ;top:30%;text-align:center">
        {{#each editlist}}
        <div style="font-size:40px ;font-weight:700;" class="text-light">{{this.homepagemessage}}</div>
        {{/each}}
        <div style="font-size:25px" class="family d-none d-sm-block  text-white">there are many variation of passages of learen ipsum available, but the majority have sufered<span>alteration in some form</span></div>
        <div class="mt-5">
        <a href="/assignment" ><button class="upper " type="submit">Submit of Assignment</button></a>
        <a href="#" ><button class="upper" type="submit"> READ MORE </button></a>
    </div>
</div>
</section>

    <section class="container">
    {{#each list}}
    <div class="row py-3 w-100">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.morneven}}</h5>
        <div>
        <h5 class="card-title">{{this.level}}</h5>
        <h5 class="card-title">{{this.time}}</h5>
        </div>
        <p class="card-text">{{this.message}}</p>
        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
         
          
      </div>
    </div>
  </div>
{{/each}}
</section>

{{!-- <section class="container">
  {{#each photo}}
  <img src="../{{this.name}}" alt="ok you are welcome">
{{/each}}
</section> --}}



{{!-- <embed download href="#" src="../add.pdf" width="500" height="375"> --}}
{{!-- <iframe src="../add.pdf" width="500" height="375">you are welcome </iframe> --}}





  
